.nav {
    grid-area: n;
    background-color: rgb(6, 218, 255);
    padding: 20px;
}

.item  {
    padding-top: 8px;
}
.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: black;
    font-weight: bold;
}